pushi 0
start
pushi 3
pushi 2
add
writei
pushi 2
pushi 5
mul
writei
pushi 2
pushi 2
mul
writei
pushi 2
pusha ORDENADO
call
pop 1
pushg 0
writei
stop

ORDENADO:
pushfp
load -1
pushi 1000
add
storeg 0
return







